**/*.log
**/*.stdout
**/*.stderr
**/*.seq.gz
**/*.fastq.gz
**/*.fasta.gz
**/*.gbff.gz
**/*.fastq
**/*.fasta
**/*.gbff
**/*.d
**/*.stamp
**/ncbitaxo.tgz
**/*.sif

**/*_spectrum.txt
**/*_stats.txt
**/*.fof

indexes
bin
tmp

src/kmerasm/kmerasm
genbank/Plants/plant_genomes_gbff/keep_list.txt
