**/.DS_Store
**/__pycache__
**/*.egg-info
**/.doit.db*
**/.pytest_cache

**/*.log
**/*.stdout
**/*.stderr
**/*.seq.gz
**/*.fastq.gz
**/*.fasta.gz
**/*.gbff.gz
**/*.fastq
**/*.fasta
**/*.gbff
**/*.d
**/*.stamp
**/ncbitaxo.tgz
**/*.sif

.venv

genbank
!genbank/Makefile

docker/*.oci.tar
docker/.builder-ready
docker/Dockerfile

**/*_spectrum.txt
**/*_stats.txt
**/*.fof

images

indexes
bin
tmp
sandbox

test_dir
old_scripts
src/kmerasm/kmerasm

.mkdocs.pid
